.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform/*.zip

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/

.DS_Store
Thumbs.db
.vscode/